<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dollar.penguin.meta.mapper.MetaMapper">

  <select id="queryDataBase" resultType="com.dollar.penguin.meta.model.entity.DataBaseEntity">
    select id, dataBaseCode, dataBaseName, url, pwd, username, created_at as createAt, updated_at as updatedAt
    from database_information
    <where>
      <if test="code != null">
        and dataBaseCode = #{code}
      </if>
      <if test="name != null">
        and dataBaseName like CONCAT('%', #{name}, '%')
      </if>
    </where>
    order by updated_at desc
  </select>

  <insert id="insertDataBase" parameterType="com.dollar.penguin.meta.model.entity.DataBaseEntity">
    insert into database_information(dataBaseCode, dataBaseName, url, pwd, username)
    values (#{dataBaseCode},#{dataBaseName},#{url},#{pwd},#{userName})
  </insert>

  <insert id="modifyDataBase" parameterType="com.dollar.penguin.meta.model.entity.DataBaseEntity">
    update database_information set dataBaseCode = #{dataBaseCode}, dataBaseName = #{dataBaseName}, url = #{url},
    pwd = #{pwd}, userName = #{userName}, updated_at = #{updatedAt} where id = #{id}
  </insert>

  <insert id="deleteDataBase">
    delete from database_information where id = #{id}
  </insert>

  <insert id="batchInsertDataBase" parameterType="java.util.List">
    insert into database_information (dataBaseCode, dataBaseName, url, pwd, username)
    values
    <foreach collection="list" item="entity" separator=",">
      (#{entity.dataBaseCode}, #{entity.dataBaseName}, #{entity.url}, #{entity.pwd}, #{entity.userName})
    </foreach>
  </insert>

  <select id="queryDataBaseById" resultType="com.dollar.penguin.meta.model.entity.DataBaseEntity" parameterType="java.lang.Integer">
    select id, dataBaseCode, dataBaseName, url, pwd, username, created_at as createAt, updated_at as updatedAt
    from database_information
    <where>
      id = #{id}
    </where>
  </select>

  <insert id="batchInsertTable" parameterType="java.util.List">
    insert into table_information (dataBaseCode, schema_name, table_name)
    values
    <foreach collection="list" item="entity" separator=",">
      (#{entity.dataBaseCode}, #{entity.schemaName}, #{entity.tableName})
    </foreach>
  </insert>

</mapper>